{% extends "layout.html" %}
{% from "macros/blog.html" import render_blog_post %}
{% block heading %}
    <div class="post-heading">
        <h1>{{ this.title }}</h1>
        <h2 class="subheading">{{ this.subtitle }}</h2>
        <span class="meta">Posted on {{ this.pub_date }}</span>
    </div>
{% endblock %}
{% block title %}{{ this.title }}{% endblock %}
<article>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                {% block body %}
                    <hr class="small">
                    <!-- Render the actual blog post -->
                    {{ render_blog_post(this) }}
                {% endblock %}
            </div>
        </div>
    </div>
</article>
