<!doctype html>
{% from "macros/blog.html" import render_blog_post %}
{% from "macros/pagination.html" import render_pagination %}
<head>
    <meta charset="utf-8">
    <link rel="icon" type="image/png" href="{{ '/static/now/img/favicon.png'|asseturl }}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ this.title }}</title>
    <meta name="author" content="Vincent Chov">
    <meta name="description" content="{{ this.subtitle }}">
    
    <link href="{{ '/static/style.css'|asseturl }}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet">
    <link href="{{ '/static/now/css/bootstrap.min.css'|asseturl }}" rel="stylesheet">
    <link href="{{ '/static/font-awesome/css/font-awesome.min.css'|asseturl }}" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href="{{ '/static/now/css/now-ui-kit.css'|asseturl }}" rel="stylesheet">
    <link href="{{ '/static/now/css/demo.css'|asseturl }}" rel="stylesheet">
</head>

<body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg bg-white navbar-fixed-top">
        <div class="container">
            <div class="navbar-translate">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-bar bar1"></span>
                    <span class="navbar-toggler-bar bar2"></span>
                    <span class="navbar-toggler-bar bar3"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" data-nav-image="{{ '/static/now/img/blurred-image-1.jpg'|asseturl }}" data-color="orange">
                <ul class="navbar-nav ml-auto">
                    {% if this._path == '/' %}
                        <li class="nav-item active">
                    {% else %}
                        <li class="nav-item">
                    {% endif %}
                            <a class="nav-link" href="{{ '/'|url }}">
                                <i class="fa fa-home"></i>
                                <p>Home</p>
                            </a>
                        </li>
                    {% for href, title in [['/events', 'Events']] %}
                        {% if this.is_child_of(href) %}
                            <li class="nav-item active">
                        {% else %}
                            <li class="nav-item">
                        {% endif %}
                                <a class="nav-link" href="{{ href|url }}">
                                    <i class="fa fa-calendar-o"></i>
                                    <p>{{ title }}</p>
                                </a>
                            </li>
                    {% endfor %}
                    <li class="nav-item">
                        <a class="nav-link btn btn-danger" href="https://secure.ngpvan.com/V-QjPVM_Ykyj1lN_aaQX-Q2">
                            <p>Donate</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    
    <div class="wrapper">
    <div class="section">
        <!-- Header -->
        <header class="intro-header">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 ml-auto mr-auto text-center">
                        <div class="page-heading">
                            <img src="{{ '/static/images/logo.jpg'|asseturl }}" style="width: 50%;">
                        {% block heading %}
                        {% endblock %}
                        </div>
                    </div>
                </div>
            </div>
        </header>
        
        <!-- Main content-->
        <div class="container">
            <div class="row">
                <div class="col-md-12 ml-auto mr-auto">
                    {% block body %}{% endblock %}
                </div>
            </div>
        </div>
    </div>
    </div>
    
    <!-- Footer -->
    <div class="section" data-background-color="black">
        <div class="row justify-content-md-center sharing-area text-center">
            <div class="text-center col-md-12 col-lg-12">
                <a href="https://twitter.com/LizLinehanforCT" class="btn btn-neutral btn-icon btn-twitter btn-round btn-lg" rel="tooltip" title="Follow us">
                    <i class="fa fa-twitter"></i>
                </a>
                <a href="https://www.facebook.com/LizLinehanCT/" class="btn btn-neutral btn-icon btn-facebook btn-round btn-lg" rel="tooltip" title="Like us">
                    <i class="fa fa-facebook"></i>
                </a>
                <a href="mailto:liz.linehan@gmail.com" class="btn btn-neutral btn-icon btn-linkedin btn-lg btn-round" rel="tooltip" title="Email us">
                    <i class="fa fa-envelope"></i>
                </a>
            </div>
        </div>
        <footer class="footer">
            <div class="disclaimer">
                <a>Paid for by Linehan for CT, Dinna Kulmacz, Treasurer.<br>Approved by Liz Linehan.</a>
            </div>
        </footer>
    </div>
    
    <!--   Core JS Files   -->
    <script src="{{ '/static/now/js/core/jquery.3.2.1.min.js'|asseturl }}" ></script>
    <script src="{{ '/static/now/js/core/popper.min.js'|asseturl }}" ></script>
    <script src="{{ '/static/now/js/core/bootstrap.min.js'|asseturl }}" ></script>
    <script src="{{ '/static/now/js/plugins/moment.min.js'|asseturl }}"></script>
    <script src="{{ '/static/now/js/plugins/bootstrap-switch.js'|asseturl }}"></script>
    <script src="{{ '/static/now/js/plugins/bootstrap-tagsinput.js'|asseturl }}"></script>
    <script src="{{ '/static/now/js/plugins/bootstrap-selectpicker.js'|asseturl }}" ></script>
    <script src="{{ '/static/now/js/plugins/jasny-bootstrap.min.js'|asseturl }}"></script>
    <script src="{{ '/static/now/js/plugins/nouislider.min.js'|asseturl }}" ></script>
    <script src="{{ '/static/now/js/plugins/bootstrap-datetimepicker.min.js'|asseturl }}" ></script>
    <script src="{{ '/static/now/js/now-ui-kit.js'|asseturl }}" ></script>
</body>
